.userprofile-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5rem;
    height: 100vh;
}
.userprofile-info{
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #cccccc;
}
.userprofile-info-main {
    margin: 1rem;
}

.userprofile-info-content {
    margin: 2rem;
}

.userprofile-song-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.userprofile-info-main {
    display: flex;
    flex-direction: row;
}
.userprofile-info-img > img {
    width: 8rem;
    border-radius: 100%;
}
.userprofile-content {
    display: grid;
    grid-template-columns: 20rem 15rem 5rem;
    height: 20px;

}


@keyframes quiet {
    25%{
        transform: scaleY(.6);
    }
    50%{
        transform: scaleY(.4);
    }
    75%{
        transform: scaleY(.8);
    }
}

@keyframes normal {
    25%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(.4);
    }
    75%{
        transform: scaleY(.6);
    }
}
@keyframes loud {
    25%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(.4);
    }
    75%{
        transform: scaleY(1.2);
    }
}
