.start-footer{
    width: 60px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dfdfdf;

  }
.start-footer:hover {
    cursor: pointer;
}
.footer__time{
    font-size: 20px;
    padding: 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: grey #fff #fff grey;
    margin-left: auto;
    margin-right: 3px;
}
