.controls {
    display: flex;
    gap: 3px;
  }

  .progressContainer {
    width: 100%;
    height: 3px;
    background-color: #ddd;
    cursor: pointer;
  }

  /* Progress Bar */
  .progress {
    height: 100%;
    background-color: #2196f3; /* Change this to your desired progress color */
    width: 0; /* Initial width is 0, it will be updated dynamically */
  }

  .divider_1 {
    width: 100%;
    height: 5px;
    margin: 4px 0;
  }
  .divider_1 > .one {
    width: 100%;
    height: 2px;
    background-color: #808080;
  }
  .divider_1 > .two {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  .ctrl {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 7px;
  }
