.input {
  width: 100%;
  padding: 2px;
  border: 2px inset #d5d5d5;
  color: #424242;
  background: #fff;
  box-shadow: -1px -1px 0 0 #828282;
  /* margin-top: 14px; */
  margin-bottom: 14px;
  padding: 4px;
  padding-left: 2px;
}

.input:focus {
  outline: 0;
}
