.btn {
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: silver;
    color: black;
    padding: 6px, 12px, 6px, 12px;
    border-radius: 1px;
    width: 153px;
    height: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .icon-only {
    width: fit-content;
  }

  .btn:not(.icon-only) {
    width: 153px;
  }

  .btn:hover {
    border: 2px inset #fff;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000;
  }
  /* .btn:focus {
    border: 2px inset #fff !important;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000 !important;
    outline: 0 !important;
  } */

  .btnActive {
    border: 2px inset #fff !important;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000 !important;
    outline: 0 !important;
  }

  .btn:active {
    border: 2px inset #fff !important;
    color: #424242;
    box-shadow: -1px -1px #000 !important;
    outline: 0 !important;
  }

  .btn-primary {
    padding-left: 8px;
    padding-right: 8px;
  }
  button:focus {
    outline: 1px dotted;
  }
  .btn.disabled,
  .btn:disabled {
    cursor: default;
    background-color: silver;
    border-style: outset;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
    color: grey;
    text-shadow: 1px 1px #fff;
  }
